#panel{
	margin-top: 10%;
	margin-left: 30%;
	margin-bottom: 25%;
	margin-right: 30%;
	width: 500px;
	padding: 15px 0 0;
	border: 5px solid silver;
	font: 20px sans-serif;
	letter-spacing: -1px; 
    -webkit-box-shadow: 0 0 8px silver;  
    -moz-box-shadow: 0 0 8px silver;  
    box-shadow: 0 0 8px silver;
}
form { 
    margin: 0; 
}
label { 
    display: block; 
    width: 360px; 
    padding: 15px 25px; 
    color: #696969; 
    font-size: 20px; 
    text-shadow: 0 0 3px silver; 
}
input[type="text"]{ 
    display: block; 
    width: 440px;  
    margin: 0 auto; 
    padding: 10px 5px; 
    border: 1px solid silver; 
    outline: 5px solid #ebebeb; 
    font-size: 22px; 
} 
input[type="password"]{ 
    display: block; 
    width: 440px;  
    margin: 0 auto; 
    padding: 10px 5px; 
    border: 1px solid silver; 
    outline: 5px solid #ebebeb; 
    font-size: 22px; 
} 
input[type="submit"] { 
    width: 100px; 
	font-size: 16px;
    padding: 5px 13px; 
    border: 1px solid #005f85; 
    color: white; 
    text-shadow: 0 0 1px black; 
    background: #98c9dc; 
    position: relative; 
    left: 380px; 
}
#panel, input[type="submit"] { 
    -webkit-border-radius: 5px;  
    -moz-border-radius: 5px;  
    border-radius: 5px;  
}
ol{
	list-style: none;
	padding: 0;
	margin: 2px;
}

ol li{
	margin: 0 0 9px 0;
	padding: 0;
}