<!DOCTYPE HTML>
<html>
	<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="css/style_css.css" type="text/css">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
		<header id="global">
			{% block globalHeader %}
				Global header
			{% endblock %}
		</header>
		<section id="global">
			<article id="bottom">
				{% block bottom %}
					view
				{% endblock %}
			</article>
		</section>
		<section id="sidebar">
			<article id="current">
				{% block current %}
					current infos
				{% endblock %}
			</article>
			<article id="menu">
				MENU
				<button class="btn_menu">button</button>
				<button class="btn_menu">button</button>
				<button class="btn_menu">button</button>
				<button class="btn_menu">button</button>
			</article>
		</section>
		<footer id="global">
			{% block globalFooter %}
				Global footer
			{% endblock %}
		</footer>
	</body>
</html>