<!DOCTYPE HTML>
<html>
	<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="css/style.css" type="text/css">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
		<header id="global">
			{% block globalHeader %}
				Global header
			{% endblock %}
		</header>
		<section id="global">
			<header id="title">
				{% section header%}
					title
				{% endblock %}
			</header>
			<article id="bottom">
				{% block bottom %}
					view
				{% endblock %}
			</article>
		</section>
		<section id="sidebar">
			<article id="current">
				{% block current %}
					current infos
				{% endblock %}
			</article>
			<article id="menu">
				{% block menu %}
					MENU
				{% endblock %}
			</article>
		</section>
		<footer id="global">
			{% block globalFooter %}
				Global footer
			{% endblock %}
		</footer>
	</body>
</html>